# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Plotly
3. Seaborn

| Data Science Tools |
|--------------------|
|Jupyter Notebook/JupyterLab|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60

hours = 200/60
print('200 minutes equal to', hours, 'hours')

200 minutes equal to 3.3333333333333335 hours

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- Examples of arithmetic expressions in Python

## Author
Nn